body {
    margin: 0;
}

.contenedor {
    background-color: white;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "section section aside"
        "section section aside"
        "footer footer footer";
    /*  place-content: center; */
    min-height: 100vh;
}

.item {
    border: solid red 1px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.main-footer {
    background-color: cadetblue;
    color: #fff;
    font-size: large;
    font-family: monospace;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    height: fit-content;
    align-self: end;
}

.main-footer>div {
    align-self: center;
    text-align: center;
}

.main-footer>div:last-child {
    align-self: center;
}

.main-footer a,
.main-footer a:link,
.main-footer a:visited,
.main-footer a:hover,
.main-footer a:active {
    color: #fff;
}

.main-header {
    font-size: large;
    font-family: monospace;
    display: grid;
    border-bottom: solid 2px;
    height: fit-content;
    
    grid-template-areas:
        "header"
        "nav";
}
.main-header-title{
    font-size: large;
    font-family: monospace;
    display: grid;
    border-bottom: solid 2px;
    height: fit-content;
    grid-template-columns: min-content min-content 1fr;
    grid-area: header;
}
.main-header>nav{
    grid-area: nav;
}
.main-header-title>div {
    align-self: center;
}
.main-header-title>div:last-child {
    align-self: right;
    text-align: right;
    padding-right: 15px;
}
.main-header-title a,
.main-header-title a:link,
.main-header-title a:visited,
.main-header-title a:hover,
.main-header-title a:active{
    color: black;
    padding: 5px;
}
.main-header-title a:hover{
    border-radius: 8px;
    border: solid black 2px;
}

.navbar__content ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}
.navbar__content ul li a {
    text-decoration: none;
}